.sobre,
.valores {
  width: 100%;
  padding: 64px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}

.valores .container {
  flex-direction: column-reverse;
}

.sobre-txt,
.valores-txt {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h2 {
    margin-bottom: 16px;
  }
}

.sobre-video {
  position: relative;
  width: 100%;

  iframe {
    width: 90%;
    height: 180px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 10%;
    top: 50%;
    width: 100vw;
    height: 140%;
    transform: translate(0, -50%);
    background-color: #f6f6f6;
    z-index: -1;
  }
}

.valores-img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  img {
    width: 90%;
  }

  &::before {
    content: '';
    position: absolute;
    right: 10%;
    top: 50%;
    width: 100vw;
    height: 140%;
    transform: translate(0, -50%);
    background-color: #dfc69c;
    z-index: -1;
  }
}

.depoimentos {
  width: 100%;
  padding: 32px 0;
  background-color: #404952;

  .container h2 {
    margin-bottom: 32px;
    color: #fff;
  }
}

.depoimentos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .depoimentos-item {
    p {
      margin-bottom: 16px;
      font-size: 14px;
      color: #fff;
    }

    span {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 768px) {
  .sobre,
  .valores {
    .container {
      display: grid;
      grid-template-columns: 50% 1fr;
    }
  }

  .sobre-video {
    display: flex;
    align-items: center;

    iframe {
      height: 340px;
    }

    &::before {
      width: 90%;
    }
  }

  .valores-img {
    align-items: center;

    &::before {
      height: 80%;
    }
  }

  .depoimentos {
    padding: 64px 0;
  }

  .depoimentos-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
  }
}

@media screen and (min-width: 1050px) {
  .sobre .container {
    grid-template-columns: 1fr 60%;
  }

  .valores .container {
    grid-template-columns: 60% 1fr;
  }
}
