.home-about {
  width: 100%;
  padding: 64px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.home-about-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h2 {
    text-align: right;
  }

  p {
    margin: 8px 0 16px;
    text-align: right;
  }
}

.home-about-video {
  width: 100%;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .home-about .container {
    display: grid;
    grid-template-columns: 40% 1fr;
  }
}

@media screen and (min-width: 1050px) {
  .home-about {
    padding: 128px 0;

    .container {
      gap: 64px;
    }
  }
}
