* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif; }

body {
  overflow-x: hidden; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

p,
ol,
ul,
li {
  font-size: 16px;
  line-height: 24px; }

h2 {
  color: #2c2c2c;
  font-size: 32px;
  font-weight: 900; }

.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto; }

.see-more {
  position: relative;
  display: inline-block;
  max-width: 100px;
  padding-left: 42px;
  color: #fff;
  font-weight: normal; }
  .see-more::before {
    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    width: 32px;
    height: 2px;
    background-color: #ed1c24;
    transform: translate(0, -50%);
    transition: width 0.3s;
    transition-timing-function: ease-out; }
  .see-more:hover::before {
    width: 16px; }

.button {
  padding: 10px 32px;
  border-radius: 6px;
  border: 2px solid #0047ff;
  color: #0047ff;
  text-align: center;
  font-weight: bold; }
  .button:hover {
    background-color: #0047ff;
    color: #fff; }

@media screen and (min-width: 768px) {
  h2 {
    font-size: 44px; } }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease-out;
  z-index: 99; }
  .header.scroll {
    background-color: #1f416d; }
    .header.scroll .container img {
      width: 100px; }
  .header .container {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .container img {
      width: 140px;
      transition: width 0.3s ease-out; }

@media screen and (min-width: 1050px) {
  .header.scroll .container img {
    width: 140px; }
  .header .container img {
    width: 180px;
    transition: width 0.3s ease-out; } }

@media screen and (max-width: 1050px) {
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 128px 32px 32px;
    background-color: #1f416d;
    z-index: -1;
    transition: top 0.6s;
    transition-timing-function: ease-out; }
    .menu.ativo {
      top: 0; }
    .menu a {
      padding: 8px 0;
      display: block;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase; }
    .menu .menu-item-45 {
      position: relative; }
      .menu .menu-item-45::before, .menu .menu-item-45::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 30%;
        color: #fff; }
      .menu .menu-item-45:hover .sub-menu {
        display: block; }
    .menu .sub-menu {
      display: none; }
  .menu-hamb {
    width: 32px;
    height: 24px;
    margin-left: 16px;
    padding: 4px;
    background-color: transparent;
    border: none;
    z-index: 9; }
    .menu-hamb::before, .menu-hamb::after {
      content: ''; }
    .menu-hamb::before, .menu-hamb::after,
    .menu-hamb span {
      width: 100%;
      height: 2px;
      display: block;
      background-color: #fff;
      margin-bottom: 4px;
      transition: 0.5s transform ease-out; }
    .menu-hamb.ativo::before {
      transform: rotate(-45deg) translate3d(-4px, 4px, 0); }
    .menu-hamb.ativo span {
      transform: rotate(45deg); }
    .menu-hamb.ativo::after {
      transform: scale(0); } }

@media screen and (min-width: 1050px) {
  .menu ul {
    display: flex;
    align-items: center; }
    .menu ul a {
      display: block;
      padding: 8px 16px;
      color: #fff;
      transition: 0.3s opacity; }
      .menu ul a:hover {
        opacity: 0.8; }
    .menu ul .menu-item-45 {
      position: relative; }
      .menu ul .menu-item-45::before, .menu ul .menu-item-45::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 30%;
        color: #fff; }
      .menu ul .menu-item-45:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 0); }
    .menu ul .sub-menu {
      position: absolute;
      top: 100%;
      left: 50%;
      display: flex;
      flex-direction: column;
      background-color: #1f416d;
      opacity: 0;
      visibility: hidden; }
  .menu-hamb {
    display: none; } }

.home-banner {
  width: 100%;
  min-height: 460px;
  height: 100vh;
  background-position: center center;
  background-size: cover; }
  .home-banner .container {
    height: 100%;
    padding: 64px 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }

.home-banner-txt {
  margin-bottom: 32px; }
  .home-banner-txt h1 {
    width: 230px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 68px; }
    .home-banner-txt h1 strong {
      display: block;
      line-height: 68px; }
      .home-banner-txt h1 strong:nth-of-type(2) {
        align-self: flex-end; }
  .home-banner-txt p {
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 16px; }

.home-banner-midia {
  display: flex;
  align-items: center;
  justify-content: center; }
  .home-banner-midia a {
    padding: 8px;
    display: block; }
    .home-banner-midia a svg {
      width: 16px;
      height: 16px;
      fill: #fff; }

@media screen and (min-width: 768px) {
  .home-banner {
    min-height: 460px;
    height: 600px; }
    .home-banner .container {
      padding: 64px 0 32px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
  .home-banner-txt {
    margin: 32px 0 0; }
    .home-banner-txt h1 {
      width: 290px;
      font-size: 84px; }
      .home-banner-txt h1 strong {
        line-height: 84px; }
    .home-banner-txt p {
      max-width: 360px; }
  .home-banner-midia {
    flex-direction: column; }
    .home-banner-midia a {
      padding: 8px;
      display: block; }
      .home-banner-midia a svg {
        width: 16px;
        height: 16px;
        fill: #fff; } }

@media screen and (min-width: 1050px) {
  .home-banner {
    max-height: 800px;
    height: 100vh; } }

.home-success {
  padding: 64px 0; }

.home-success-wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column; }

.home-success-item {
  position: relative;
  width: 100%;
  height: 420px; }
  .home-success-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    z-index: -1; }
  .home-success-item:nth-of-type(1)::before {
    background-color: #1f416d; }
  .home-success-item:nth-of-type(2)::before {
    background-color: #b21e23; }
  .home-success-item:nth-of-type(3)::before {
    background-color: #ababab; }
  .home-success-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; }
  .home-success-item .home-success-txt {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .home-success-item .home-success-txt h3 {
      margin-bottom: 8px;
      color: #fff;
      font-weight: normal; }
      .home-success-item .home-success-txt h3 span {
        font-size: 10px;
        vertical-align: top; }
    .home-success-item .home-success-txt p {
      margin-bottom: 18px;
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      font-weight: normal; }
    .home-success-item .home-success-txt .see-more::before {
      background-color: #fff; }

@media screen and (min-width: 768px) {
  .home-success-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 1050px) {
  .home-success {
    padding: 128px 0 0; } }

.home-group {
  width: 100%;
  padding: 64px 0; }
  .home-group .container h5 {
    color: #1f416d;
    letter-spacing: 0.3rem;
    font-size: 11px; }
  .home-group .container h2 {
    margin-bottom: 16px; }
  .home-group .container > p {
    max-width: 400px; }

.home-group-wrapper {
  width: 100%;
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px; }

.home-group-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px; }
  .home-group-item.apoteose .home-group-img::before {
    background-color: #dfc69c; }
  .home-group-item.app .home-group-img::before {
    background-color: #404952; }
  .home-group-item.app .home-group-img span {
    color: #000; }

.home-group-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .home-group-txt img {
    margin-bottom: 32px;
    max-width: 200px;
    max-height: 128px; }
  .home-group-txt h3 {
    margin-bottom: 8px;
    font-size: 32px; }
  .home-group-txt p {
    margin-bottom: 32px;
    text-align: right; }

.home-group-img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center; }
  .home-group-img::before {
    content: '';
    position: absolute;
    left: 10%;
    top: 50%;
    width: 100vw;
    height: 125%;
    transform: translate(0, -50%);
    background-color: #f6f6f6;
    z-index: -1; }
  .home-group-img img {
    width: 90%;
    z-index: 1; }
  .home-group-img span {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 64px;
    font-weight: 900;
    z-index: -1;
    color: #2c2c2c;
    opacity: 0.09; }

@media screen and (min-width: 768px) {
  .home-group-wrapper {
    margin-top: 128px;
    gap: 128px; }
  .home-group-item {
    display: grid;
    grid-template-columns: 40% 1fr; } }

@media screen and (min-width: 1050px) {
  .home-group {
    padding: 128px 0; }
  .home-group-img span {
    left: 90%;
    font-size: 84px; } }

.home-blog {
  width: 100%;
  padding: 64px 0; }
  .home-blog .container h5 {
    color: #1f416d;
    letter-spacing: 0.3rem;
    font-size: 11px; }
  .home-blog .container h2 {
    margin-bottom: 32px; }

.home-blog-wrapper {
  position: relative;
  height: 400px; }
  .home-blog-wrapper .blog-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity, 0.3s visibility;
    transition-timing-function: ease-out; }
    .home-blog-wrapper .blog-item.ativo {
      opacity: 1;
      visibility: visible; }
  .home-blog-wrapper .blog-txt {
    position: relative; }

.blog-controls {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex; }
  .blog-controls button {
    width: 32px;
    height: 32px;
    background-color: #1f416d;
    border: none;
    cursor: pointer; }
    .blog-controls button:hover {
      opacity: 0.8; }
    .blog-controls button img {
      width: 40%;
      height: 40%; }

.home-about {
  width: 100%;
  padding: 64px 0; }
  .home-about .container {
    display: flex;
    flex-direction: column;
    gap: 32px; }

.home-about-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .home-about-txt h2 {
    text-align: right; }
  .home-about-txt p {
    margin: 8px 0 16px;
    text-align: right; }

.home-about-video {
  width: 100%;
  display: flex;
  align-items: center; }
  .home-about-video img {
    width: 100%; }

@media screen and (min-width: 768px) {
  .home-about .container {
    display: grid;
    grid-template-columns: 40% 1fr; } }

@media screen and (min-width: 1050px) {
  .home-about {
    padding: 128px 0; }
    .home-about .container {
      gap: 64px; } }

.sobre,
.valores {
  width: 100%;
  padding: 64px 0; }
  .sobre .container,
  .valores .container {
    display: flex;
    flex-direction: column;
    gap: 64px; }

.valores .container {
  flex-direction: column-reverse; }

.sobre-txt,
.valores-txt {
  display: flex;
  flex-direction: column;
  gap: 32px; }
  .sobre-txt h2,
  .valores-txt h2 {
    margin-bottom: 16px; }

.sobre-video {
  position: relative;
  width: 100%; }
  .sobre-video img {
    width: 90%; }
  .sobre-video::before {
    content: '';
    position: absolute;
    left: 10%;
    top: 50%;
    width: 100vw;
    height: 140%;
    transform: translate(0, -50%);
    background-color: #f6f6f6;
    z-index: -1; }

.valores-img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .valores-img img {
    width: 90%; }
  .valores-img::before {
    content: '';
    position: absolute;
    right: 10%;
    top: 50%;
    width: 100vw;
    height: 140%;
    transform: translate(0, -50%);
    background-color: #dfc69c;
    z-index: -1; }

.depoimentos {
  width: 100%;
  padding: 32px 0;
  background-color: #404952; }
  .depoimentos .container h2 {
    margin-bottom: 32px;
    color: #fff; }

.depoimentos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px; }
  .depoimentos-wrapper .depoimentos-item p {
    margin-bottom: 16px;
    font-size: 14px;
    color: #fff; }
  .depoimentos-wrapper .depoimentos-item span {
    color: #fff;
    font-size: 14px;
    font-weight: bold; }

@media screen and (min-width: 768px) {
  .sobre .container,
  .valores .container {
    display: grid;
    grid-template-columns: 50% 1fr; }
  .sobre-video {
    display: flex;
    align-items: center; }
    .sobre-video::before {
      height: 80%; }
  .valores-img {
    align-items: center; }
    .valores-img::before {
      height: 80%; }
  .depoimentos {
    padding: 64px 0; }
  .depoimentos-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px; } }

@media screen and (min-width: 1050px) {
  .sobre .container {
    grid-template-columns: 1fr 60%; }
  .valores .container {
    grid-template-columns: 60% 1fr; } }

.servicos {
  width: 100%;
  padding: 64px 0; }
  .servicos .container {
    display: flex;
    flex-direction: column;
    gap: 64px; }

.servicos-txt img {
  max-width: 160px;
  max-height: 160px;
  margin-bottom: 32px; }

.servicos-txt h2 {
  margin-bottom: 16px; }

.servicos-img {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px; }
  .servicos-img::before {
    content: '';
    position: absolute;
    left: 10%;
    top: 50%;
    width: 100vw;
    height: 140%;
    transform: translate(0, -50%);
    background-color: #f6f6f6;
    z-index: -1; }
  .servicos-img img {
    width: 100%; }

@media screen and (min-width: 768px) {
  .servicos .container {
    display: grid;
    grid-template-columns: 40% 1fr; }
  .servicos-img {
    height: 680px; }
    .servicos-img img {
      height: 100%;
      object-fit: cover; } }

.blog {
  width: 100%;
  padding: 64px 0; }
  .blog .container h2 {
    margin: 32px 0; }

.blog-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px; }

@media screen and (min-width: 1050px) {
  .blog-wrapper {
    gap: 64px; } }

.blog-item {
  width: 100%; }
  .blog-item img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  .blog-item .blog-txt {
    width: 90%;
    padding: 32px 16px;
    background-color: #f2f2f2; }
    .blog-item .blog-txt h5 {
      margin-bottom: 8px;
      color: #4075ff;
      font-size: 11px;
      font-weight: normal;
      letter-spacing: 0.2rem;
      text-transform: uppercase; }
    .blog-item .blog-txt h4 {
      color: #263b7c;
      margin: 16px 0; }
    .blog-item .blog-txt p {
      margin-bottom: 16px;
      color: #4d4d4d;
      font-size: 14px;
      line-height: 21px; }
    .blog-item .blog-txt .link {
      color: #263b7c;
      font-size: 12px;
      letter-spacing: 0.2rem;
      text-transform: uppercase; }

@media screen and (min-width: 768px) {
  .blog-item {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: flex-start; }
    .blog-item .blog-txt {
      padding: 48px 64px; } }

@media screen and (min-width: 1050px) {
  .blog-item {
    grid-template-columns: 55% 45%; }
    .blog-item img {
      height: 380px; }
    .blog-item .blog-txt {
      padding: 48px 64px; } }

.blog-content {
  width: 100%;
  padding: 64px 0; }
  .blog-content .container {
    display: flex;
    flex-direction: column;
    max-width: 768px; }
    .blog-content .container .blog-content-img {
      width: 100%;
      height: 200px;
      margin: 32px 0;
      object-fit: cover; }

.footer {
  width: 100%; }

@media screen and (min-width: 768px) {
  .footer-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

.footer-form {
  width: 100%;
  padding: 64px 0 16px;
  background-color: #1f416d; }
  .footer-form h2 {
    margin-bottom: 32px;
    color: #fff; }
  .footer-form form {
    display: flex;
    flex-direction: column;
    gap: 16px; }
    .footer-form form input:not([type='submit']),
    .footer-form form textarea {
      width: 100%;
      padding: 8px 0;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff; }
      .footer-form form input:not([type='submit'])::placeholder,
      .footer-form form textarea::placeholder {
        color: #fff; }
    .footer-form form textarea {
      height: 60px;
      min-width: 100%;
      max-width: 100%; }
    .footer-form form input[type='submit'] {
      align-self: flex-start;
      padding: 10px 32px;
      border-radius: 6px;
      background-color: #0047ff;
      border: 2px solid #0047ff;
      color: #fff;
      text-align: center;
      font-weight: bold; }
      .footer-form form input[type='submit']:hover {
        background-color: #fff;
        color: #0047ff; }

.footer-dados {
  width: 100%;
  padding: 32px 0; }
  .footer-dados h3 {
    margin-bottom: 32px;
    font-size: 20px; }

.footer-dados-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px; }
  .footer-dados-wrapper a {
    display: flex;
    align-items: center; }
    .footer-dados-wrapper a svg {
      width: 16px;
      height: 16px;
      margin-right: 16px;
      fill: #2c2c2c; }
    .footer-dados-wrapper a span {
      color: #2c2c2c;
      font-size: 14px;
      line-height: 21px; }

.footer-midias {
  margin-top: 32px;
  font-size: 14px;
  display: flex;
  align-items: center; }
  .footer-midias span {
    color: #2c2c2c;
    margin-right: 16px; }
  .footer-midias a {
    display: flex;
    margin: 0 4px; }
    .footer-midias a svg {
      width: 16px;
      height: 16px;
      fill: #2c2c2c; }

@media screen and (min-width: 768px) {
  .footer-dados {
    padding: 64px;
    display: flex;
    align-items: center; } }

.footer-menu {
  width: 100%;
  padding: 64px 0;
  background-color: #2c2c2c; }
  .footer-menu .container {
    display: flex;
    flex-direction: column;
    gap: 32px; }
    .footer-menu .container img {
      width: 160px;
      margin-bottom: 16px;
      align-self: center; }
    .footer-menu .container nav h5 {
      margin-bottom: 8px;
      color: #fff;
      font-size: 10px;
      font-weight: normal;
      letter-spacing: 0.3rem;
      text-transform: uppercase; }
    .footer-menu .container nav a {
      display: block;
      padding: 4px 0;
      color: #ababab;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.05rem; }

@media screen and (min-width: 768px) {
  .footer-menu .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }

.rodape {
  width: 100%;
  padding: 16px 0;
  background-color: #575757; }
  .rodape .container {
    display: flex;
    align-items: center;
    justify-content: center; }
    .rodape .container p {
      text-align: center;
      color: #fff;
      font-size: 14px; }
      .rodape .container p a {
        color: #fff; }

@keyframes reset {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1) rotate(0);
    visibility: visible; } }

