.servicos {
  width: 100%;
  padding: 64px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}

.servicos-txt {
  img {
    max-width: 160px;
    max-height: 160px;
    margin-bottom: 32px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .button {
    margin-top: 32px;
    display: inline-block;
  }
}

.servicos-img {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  &::before {
    content: '';
    position: absolute;
    left: 10%;
    top: 50%;
    width: 100vw;
    height: 140%;
    transform: translate(0, -50%);
    background-color: #f6f6f6;
    z-index: -1;
  }

  img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .servicos {
    padding: 128px;

    .container {
      display: grid;
      grid-template-columns: 40% 1fr;
      max-width: 1200px;
    }
  }

  .servicos-img {
    height: 540px;
    align-items: center;

    &.img-um {
    }

    &.img-dois,
    &.img-tres {
      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &.img-tres {
      height: 720px;
    }
  }
}
