.rodape {
  width: 100%;
  padding: 16px 0;
  background-color: #575757;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
      color: #fff;
      font-size: 14px;

      a {
        color: #fff;
      }
    }
  }
}
